body {
  text-align: center;
  margin: auto;
  font-size: 1rem;
}

.social-nav {
  text-align: right;
  padding-top: 18%;
  color: #000010;
}

.social-icon {
padding: 5px;
color: #000;
}

.nav-items {
    align-content: center;
}

.social-icon:hover {
  color: #20639B;
}
